@import url('https://fonts.cdnfonts.com/css/stars-dream');

body {
    background-color: #b2d3c2;
    text-align: center;
    font-family: 'Stars Dream', sans-serif;
}

#title {
    margin-top: 100px;
    line-height: 10px;
    font-size: 30px;
}

#subtitle {
    opacity: 0.7;
    font-size: 18px;
}

#calendar {
    display: flex;
    justify-content: end;
}

#calendarDiv {
    background-color: rgb(255,255,255);
    border-radius: 10px 10px 20px 20px;
    margin: auto;
    align-content: center;
    text-align: center;
}

#calendarHeading {
    display: flex;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid black;
    padding: 0px 20px;
    font-size: 20px;
    line-height: 0pxs;
    background-color: pink;
}

#calendarContent {
    padding: 20px;
    border: 2px solid black;
}

.days {
    display: flex;
}

.day {
    width: 30px;
    margin: 3px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    background-color: lightpink;
}
                
                